<div class="sub_answer">
  <%= f.text_field :content, class: "form-control answer_content" %>
  <%= f.check_box :correct %>
  <%= f.label :correct, class: "chk_correct" %>
  <%= f.label :destroy, class: "close-answer" %>
  <br/><br/>
</div>
