<% provide :title, t(".edit") %>
<% provide :submit, t(".update") %>
<h1><%= t ".edit" %></h1>
<%= render "layouts/menu" %>
<div class="row">
  <div class="col-md-9">
    <%= render "form_question", question: @question %>
  </div>
</div>
