<% provide :title, t(".add") %>
<% provide :submit, t(".add") %>
<h1><%= t ".add" %></h1>
<%= render "layouts/menu" %>
<div class="row">
  <div class="col-md-9">
    <%= render "form_question", question: @question %>
  </div>
</div>
