<td class="index_column">
  <%= render "layouts/actions_destroy", path: path, id: obj.id,
    act: t("remove") %>
</td>
<td class="restore_column">
  <%= render "layouts/actions_destroy", path: path, id: obj.id,
    act: t("restore") %>
</td>
<td class="restore_column">
  <%= render "layouts/actions_destroy", path: path, id: obj.id,
    act: t("delete") %>
</td>
